.card{
    padding: 5px;
    text-align: justify;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 2px rgb(153, 152, 152);
}

.card-body{
    padding: 5px;
}

.card-img-top{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 25px;
}

.card-title{
    margin-top: 10px;
}

.card-text{
    margin: 0;
}

.card-footer{
    padding: 0;
}

.btn{
    border-radius: 15px;
    width: 100%;
    background-color: gray;
    color: black;
}