<div class="col-sm-12" *ngIf="!infomarcionDetallada">
    <div class="row card-group">
        <div class="col-sm-4 " *ngFor="let item of listFilms">
          <div class="card border-dark">
            <img class="card-img-top" src="../../../assets/img/StarWars.jpg" alt="Card image cap">
            <div class="card-body pb-3">
              <h5 class="card-title">
                {{ item.title }}
              </h5>
                <p class="card-text"> 
                  <strong> Director: </strong>  {{ item.director }} <br/>
                  <strong> Productor: </strong> {{ item.producer }} <br/>
                  <strong> Opening: </strong>  {{ item.opening_crawl }}
                </p>
                <br/>
                <p class="card-text"> 
                    <strong> Fecha de lanzamiento: </strong>  {{ item.release_date }} <br/>
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-dark" (click)="detallesPersonajes(item)"> <strong> Mas detalles </strong> </a>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="col-sm-12" *ngIf="infomarcionDetallada">
    <div class="row card-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 card border-dark" *ngIf="infomarcionDetallada">
            <div class="card-body pb-3">
              <h5 class="card-title">
                {{ filmSeleccionado.title }}
              </h5>
                <p class="card-text"> 
                  <strong> Director: </strong>  {{ filmSeleccionado.director }} <br/>
                  <strong> Productor: </strong> {{ filmSeleccionado.producer }} <br/>
                  <strong> Opening: </strong>  {{ filmSeleccionado.opening_crawl }}
                </p>
                <br/>
                <p class="card-text"> 
                    <strong> Fecha de lanzamiento: </strong>  {{ filmSeleccionado.release_date }} <br/>
                </p>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row card-group">
        <div class="col-sm-3 " *ngFor="let item of listPersonajes">
          <div class="card border-dark">
            <img class="card-img-top" src="../../../assets/img/Character.jpg" alt="Card image cap">
            <div class="card-body pb-3">
              <h5 class="card-title">
                {{ item.name }}
              </h5>
                <p class="card-text"> 
                  <strong> Genéro: </strong>  {{ item.gender }} <br/>
                  <strong> Peso: </strong> {{ item.mass }} <br/>
                  <strong> Altura: </strong>  {{ item.height }}
                </p>
                <br/>
                <p class="card-text"> 
                    <strong> Fecha de Nacimiento: </strong>  {{ item.birth_year }} <br/>
                </p>
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-dark" (click)="informacionNave(item)"> <strong> Link Naves </strong> </a>
          </div>
          </div>
        </div>
    </div>
</div>

