<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Desafio <b>Omnicon</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/films"> Films </a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link" href="https://www.linkedin.com/in/juan-sanchez-3005/" target="_blank">
          Linked <img class="logo" src="../../../assets/img/Linkedin.png" alt="linkedin">
        </a>
      </span>
    </div>
  </nav>