<div class="spinner-wrapper animated fadeIn" *ngIf="loaderService.mostrar">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-secondary text-center">
          <strong>Cargando</strong>
          <br />
          <br />
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <br />
          <br />
          <span>Por favor espera</span>
        </div>
      </div>
    </div>
</div>